@import url(http://fonts.googleapis.com/css?family=Roboto:100);

/* Defalt variables */
@import "compass";


$bg_color : #34aadc;
$white : #fff;
$black : #000;
$custom_font : 'HelveticaNeue-Light', Roboto;

/* Default settings */
body , html {
	height: 100%;
}

h1 {
	margin: 0;
}

/* custom page style */

body {
	background-color: $bg_color;
	border-top: 335px solid $black;
}


.main {
	width: 90%;
	margin: 0 auto;
	color: $white;
	font-family: $custom_font;
	
	h1 {
		font: {
			size:4em;
			weight: 100;
			family: $custom_font;
		}
		color: $white;
		line-height: 1;

		&:after {
			content: "#";
			color: $black;
			
		}
	}

	.dark_veder {
		background: $black;
	}

	.description {
		padding-top:1em;
	}

	a {
		&.btn-white {
			color: $white;
			border: 1px solid $white;
			font-weight: bold;
			padding: 0.5em 1.5em;
		}
	}
}