@import url(http://fonts.googleapis.com/css?family=Roboto:100);

/* Defalt variables */
$bg_color : #34aadc;
$white : #fff;
$black : #000;
$custom_font : 'HelveticaNeue-Light', Roboto;

.main {
	background-color: $bg_color;
	color: $white;
	font-family: $custom_font;

	.app {
		a {
			font: {
			weight: 100;
			size: 22px;
			}

			color: $white;

			&:hover {
				color: $black;
			}
		}
		
		text-align: center; 
	}
}