@import url(http://fonts.googleapis.com/css?family=Roboto:100);
/* Defalt variables */
/* line 9, ../sass/app.scss */
.main {
  background-color: #34aadc;
  color: white;
  font-family: "HelveticaNeue-Light", Roboto;
}
/* line 14, ../sass/app.scss */
.main .app {
  text-align: center;
}
/* line 15, ../sass/app.scss */
.main .app a {
  font-weight: 100;
  font-size: 22px;
  color: white;
}
/* line 23, ../sass/app.scss */
.main .app a:hover {
  color: black;
}
