/* line 1, ../sass/app.scss */
.container {
  padding: 0;
}

/* line 4, ../sass/app.scss */
div.panel {
  padding: 20px;
}

/* line 7, ../sass/app.scss */
.full {
  max-width: 100%;
  background-color: #f5f5f5;
}

/* line 11, ../sass/app.scss */
.item {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #f5f5f5;
  clear: both;
}

/* line 17, ../sass/app.scss */
.top-bar {
  margin-bottom: 1%;
}
